{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Contact us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/WAD_Project.css' %}">
</head>
  <div class="about-section">
   
    <div class = "heading">
    <p>Contact Us</p>
    </div>   
    <span class = "info">
      <p>For any kind of inquiries or feedback, feel free to contact any of our team members.</p>
    </span>
  </div>
  <div class="ot"><br>
  <h2 style="color:white;"><b>OUR TEAM</b></h2>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h3>Saam Prasanth Deeven Pedapalli</h3>
        <p>saamprasanthdeevan.p19@iiits.in</p>
        <a href="mailto:saamprasanthdeevan.p19@iiits.in" class="button" style="text-decoration: none;"><b>Contact</b></button></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h3>Sri Lakshmi Prasanna Koneru</h3><br>
        <p>srilakshmiprasanna.k19@iiits.in</p>
        <a href="mailto:srilakshmiprasanna.k19@iiits.in" class="button" style="text-decoration: none;"><b>Contact</b></button></a>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="card">
        <div class="container">
          <h3>Emma Mary Cyriac </h3>
          <br>
          <p>emmamary.c19@iiits.in</p>
          <a href="mailto:emmamary.c19@iiits.in" class="button" style="text-decoration: none;"><b>Contact</b></button></a>
        </div>
      </div>
    </div>
  <div class="column">
  <div class="card">
    <div class="container">
      <h3>Chris Pamula</h3>
      <br>
      <p>chris.p19@iiits.in</p>
      <a href="mailto:chris.p19@iiits.in" class="button" style="text-decoration: none;"><b>Contact</b></button></a>
    </div>
  </div>
</div>

  <div class="column">
      <div class="card">
        <div class="container">
          <h3>Vignesh Prema </h3>
          <br>
          <p>prema.g19@iiits.in</p>
          <a href="mailto:prema.g19@iiits.in" class="button" style="text-decoration: none;"><b>Contact</b></button></a>
        </div>
      </div>
    </div>
{% endblock %}