{% extends 'base.html' %}
{% block content %}
{% load static %}
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/WAD_Project.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    </head>
    <!-- <h1>Choose any one</h1>
    <h2>
        <a href="todolist">Daily Planner</a>
    </h2>
    <h2>
        <a href="TTGenerator">Time Table Generator</a>
    </h2> --><br>
    <br><br>
<h2 style="color:white;font-family: 'Orelega One', cursive;font-size: 45px;"><b>PLEASE  SELECT  FROM  BELOW</b></h2>
</div>
<div class = "center" style="margin-top: 5%;">
    <div class="clmn">   
    <div class="crd1">   
            <br><br><br>
             <a href = "{% url 'TTGenerator' %}"> Timetable Generator</a>
        </div>
    </div>
    <div class="clmn">
        <div class="crd2"> 
            <br><br><br>
          <a href = "{% url 'todolist' %}"> Day <br>Planner </a>
        </div>
</div>
</div>
{% endblock %}