{% extends 'base.html' %}
{% block content %}
{% load static %}
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/WAD_Project.css' %}">
    </head>
    <!-- <h1>Choose any one</h1>
    <h2>
        <a href="todolist">Daily Planner</a>
    </h2>
    <h2>
        <a href="TTGenerator">Time Table Generator</a>
    </h2> -->
<h2>PLEASE  SELECT  FROM  BELOW</h2>
</div>
<br>
<div class = "center">
        <a href = "{% url 'TTGenerator' %}">
    <img src="https://raw.githubusercontent.com/deevensaam/Photos/main/Lucky%20desin%202.png" alt="ttg" width="450" height="208" class = "center" />
</a>
<br>
    <a href = "{% url 'todolist' %}">
    <img src ="https://raw.githubusercontent.com/deevensaam/Photos/main/Lucky%20design%203.png" alt="dp" width="450" height="208" class = "center" />
</a>
</div>
{% endblock %}