body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}


li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul li a {
    display: block;
}
li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}