{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="back">
<a href="{% url 'teacherTimetable' %}">Back</a></div>
<div class="back">
<a href="{% url 'addCourse' %}">Add Course</a></div>
<h1>Edit Course</h1>
<table>
    <tr>
        <td>Course Code</td>
        <td>Course Name</td>
        <td>Max no. of students</td>
        <td> </td>
    </tr>
        {% for i in courses %}
        <tr>
            <td>{{i.courseID}}</td>
            <td>{{i.courseName}}</td>
            <td>{{i.maxStudents}}</td>
            <td>
                <form action="{% url 'deleteCourse' pk=i.courseID %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="X">
                </form>
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}