{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="back">
<a href="{% url 'teacherTimetable' %}">Back</a></div>
<br>
<div class="back">
<a href="{% url 'addDepartment' %}">Add Department</a></div>
<table>
    <tr>
        <td>Department</td>
        <td> </td>
    </tr>
        {% for i in departments %}
            <tr>
                <td>{{i.deptName}}</td>
                <td>
                    <form action="{% url 'deleteDepartment' i.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% endfor %}
</table>
{% endblock %}