{% extends 'base.html' %}
{% block content %}
{% load static %}
<a href="{% url 'teacherTimetable' %}">Back</a>
<br>
<a href="{% url 'addDepartment' %}">Add Department</a>
<table>
    <tr>
        <th>Department</th>
        <th></th>
    </tr>
    <tbody>
        {% for i in departments %}
            <tr>
                <td>{{i.deptName}}</td>
                <td>
                    <form action="{% url 'deleteDepartment' i.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}