{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="back">
<a href="{% url 'teacherTimetable' %}">Back</a></div>
<br>
<div class="back">
<a href="{% url 'addFaculty' %}">Add Faculty</a></div>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td></td>
    </tr>
        {% for i in instructors %}
            <tr>
                <td>{{i.instructorID}}</td>
                <td>{{i.name}}</td>
                <td>
                    <form action="{% url 'deleteInstructor' i.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% endfor %}
</table>
{% endblock %}