{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>
        Institue Login
    </title>
    <link rel="stylesheet" href="{% static 'css/Wad_Project.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- <h1>Time Table Planner</h1> -->
    <!-- <h1>Please select any one</h2>
    <ul>
        <li>
            <a href="admin">Admin Login</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{% url 'facultySignUp' %}">Faculty SignUp</a>
            | <a href="{% url 'facultyLogin' %}">Faculty Login</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{% url 'studentSignUp' %}">Student SignUp</a>
            | <a href="{% url 'studentLogin' %}">Student Login</a>
        </li>
    </ul> -->
    <div class="boxed">
        <h2 style="color:white;font-family: 'Orelega One', cursive;font-size: 50px;"><b>PLEASE  SELECT  FROM  BELOW</b></h2>
        </div>
        <br></br>
        <div class = "center">
            <div class="cl">   
                <div class="c1">
                    <a href="admin">Admin</a>
                </div>  
                
            </div>
            <div class="cl">  
                <div class="c2">
                    <a href="{% url 'facultyLogin' %}">Faculty</a>
                </div>
            </div>        
            <div class="cl">  
                <div class="c3">
                    <a href = "{% url 'studentLogin' %}">Student</a>
                </div>
            </div>
    </div>
</body>
{% endblock %}