{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="back">
<a href="{% url 'teacherTimetable' %}">Back</a></div>
<br>
<div class="back">
<a href="{% url 'addMeetingTime' %}">Add Meeting</a></div>
<table>
    <tr>
        <td>Meeting </td>
        <td>ID</td>
        <td>Day</td>
        <td>Timing</td>
        <td></td>
    </tr>
        {% for i in meetingTime %}
            <tr>
                <td>{{i}}</td>
                <td>{{i.pid}}</td>
                <td>{{i.day}}</td>
                <td>{{i.time}}</td>
                <td>
                    <form action="{% url 'deleteMeetingTime' i.pid %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% endfor %}
        <!-- {{meetingTimes}} -->
</table>
{% endblock %}