{% extends 'base.html' %}
{% block content %}
{% load static %}
<a href="{% url 'teacherTimetable' %}">Back</a>
<br>
<a href="{% url 'addMeetingTime' %}">Add Meeting</a>
<table>
    <tr>
        <th>ID</th>
        <th>Day</th>
        <th>Timing</th>
        <th></th>
    </tr>
    <tbody>
        {% for i in meetingTime %}
            <tr>
                <td>{{i}}</td>
                <td>{{i.pid}}</td>
                <td>{{i.day}}</td>
                <td>{{i.time}}</td>
                <td>
                    <form action="{% url 'deleteMeetingTime' i.pid %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% endfor %}
        <!-- {{meetingTimes}} -->
    </tbody>
</table>
{% endblock %}