{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="back">
<a href="{% url 'teacherTimetable' %}">Back</a></div>
<br>
<div class="back">
<a href="{% url 'addRoom' %}">Add Room</a></div>
<table>
    <tr>
        <td>Room No.</td>
        <td>Seating Capacity</td>
        <td></td>
    </tr>
        {% for i in rooms %}
            <tr>
                <td>{{i.roomNo}}</td>
                <td>{{i.capacity}}</td>
                <td>
                    <form action="{% url 'deleteRoom' i.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% endfor %}
</table>
{% endblock %}