{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="back">
<a href="{% url 'teacherTimetable' %}">Back</a></div>
<br>
<div class="back">
<a href="{% url 'addSection' %}">Add Section</a></div>
<table>
    <tr>
        <td>ID</td>
        <td>Department</td>
        <td>Total Classes</td>
        <td></td>
    </tr>
        {% for i in sections %}
            <tr>
                <td>{{i.sectionID}}</td>
                <td>{{i.department}}</td>
                <td>{{i.noClassesInWeek}}</td>
                <td>
                    <form action="{% url 'deleteSection' i.sectionID %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% endfor %}
</table>
{% endblock %}