{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Time Table Planner</title>
    <link rel="stylesheet" href="{% static 'css/Wad_Project.css' %}">
    <link rel="stylesheet" href="{% static 'css/SASS/TimeTablePlanner.css' %}">
</head>
{% csrf_token %}
<div class="buttons">
{% if user.is_staff %}
<div class="viewprobtn">
    <a href="{% url 'teacherProfile' %}">View Profile</a></div>
{% elif not user.is_staff %}
<div class="viewprobtn">
    <a href="{% url 'studentProfile' %}">View Profile</a></div>
{% endif %}
<div class="schbtn">
<a href="{% url 'create_schedule' %}">Scheduele</a></div>
<div class="logoutbtn">
    <a href="{% url 'logout' %}">Log out</a></div>
</div>
  
{% endblock %}