{% extends 'base.html' %}
{% block content %}
{% load static %}
{% for section in sections %}
  <h2>{{ section.sectionID }} ({{ section.department }})</h2>
      <table>
        <tr>
          <th>Class #</th>
          <th>Course</th>
          <th>Room</th>
          <th>Instructor</th>
          <th>Class Timing</th>
        </tr>
        <tbody>
          {% for class in schedule %}
            {% if class.section == section.sectionID %}
            <tr>
              <th>{{class.sectionID}}</th>
              <td>{{class.course}}</td>
              <td>{{class.room}}</td>
              <td>{{class.instructor}}</td>
              <td>{{class.meetingTime}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
      </table>

{% endfor %}
{% endblock %}