{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Time Table Planner</title>
    <link rel="stylesheet" href="{% static 'css/Wad_Project.css' %}">
    <link rel="stylesheet" href="{% static 'css/SASS/TimeTablePlanner.css' %}">
</head>
{% csrf_token %}
<a href="{% url 'logout' %}">Log out</a>
{% if user.is_staff %}
    <a href="{% url 'teacherProfile' %}">View Profile</a>
{% elif not user.is_staff %}
    <a href="{% url 'studentProfile' %}">View Profile</a>
{% endif %}
<a href="{% url 'create_schedule' %}">Scheduele</a>

  
{% endblock %}