<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <tr>
        {% for i,j in output.items %}
            {{i}}
            <td>
                <br>
                {% for a,b in j.items %}
                    {% for z in list2 %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            {{z}}-{{b}}
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
            <br><br>
        {% endfor %}
        {% for i,j in subjects.items %}
            {{i}}-{{j}}
        {% endfor %}
    </tr>
    
</body>
</html>
