{% extends 'base.html' %}
{% block content %}
{% load static %}
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'addFaculty' %}">Add Faculty</a></li>
    <li><a href="{% url 'addRoom' %}">Add Room </a></li>
    <li><a href="{% url 'addMeetingTime' %}">Add Meeting time</a></li>
    <li><a href="{% url 'addCourse' %}">Add Course</a></li>
    <li><a href="{% url 'addDepartment' %}">Add department</a></li>
    <li><a href="{% url 'addSection' %}">Add Section</a></li>
  </ul>
{% for section in sections %}
<h2>{{ section.section_id }} ({{ section.department }})</h2>
    <table>
      <colgroup>
        <col >
        <col >
        <col>
        <col>
        <col >
        <col>
      </colgroup>
      <tr>
        <th>Class #</th>
        <th>Course</th>
        <th>Venue(Block- Room)</th>
        <th>Instructor</th>
        <th>Class Timing</th>
      </tr>
      {% for class in schedule %}
        {% if class.section == section.section_id %}
        <tr>
          <th>{{class.section_id}}</th>
          <td>{{class.course}}</td>
          <td>{{class.room}}</td>
          <td>{{class.instructor}}</td>
          <td>{{class.meeting_time}}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </table>

{% endfor %}
{% endblock %}