{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if profile.user.is_staff %}
<div class="lists">
  <ul>
      <!-- <li><a href="{% url 'home' %}"><p>Home</p></a></li> -->
      <li><a href="{% url 'addFaculty' %}"><p>Add Faculty</p></a></li>
      <li><a href="{% url 'addRoom' %}"><p>Add Room </p></a></li>
      <li><a href="{% url 'addMeetingTime' %}"><p>Add Meeting time</p></a></li>
      <li><a href="{% url 'addCourse' %}"><p>Add Course</p></a></li>
      <li><a href="{% url 'addDepartment' %}"><p>Add department</p></a></li>
      <li><a href="{% url 'addSection' %}"><p>Add Section</p></a></li>
  </ul>
</div>
{% elif not profile.user.is_staff %}
<br><br>
{% endif %}
{% for section in sections %}
  <h2>{{ section.sectionID }} ({{ section.department }})</h2>
      <table>
        <tr>
          <td>Class #</td>
          <td>Course</td>
          <td>Room</td>
          <td>Instructor</td>
          <td>Class Timing</td>
        </tr>
          {% for class in schedule %}
            {% if class.section == section.sectionID %}
            <tr>
              <td>{{class.sectionID}}</td>
              <td>{{class.course}}</td>
              <td>{{class.room}}</td>
              <td>{{class.instructor}}</td>
              <td>{{class.meetingTime}}</td>
            </tr>
            {% endif %}
        {% endfor %}
      </table>
{% endfor %}
{% endblock %}