{% extends 'base.html' %}
{% block content %}
{% load static %}
<span class="buttons">
<ul>
    <li><a href="{% url 'home' %}"><p>Home</p></a></li>
    <li><a href="{% url 'addFaculty' %}"><p>Add Faculty</p></a></li>
    <li><a href="{% url 'addRoom' %}"><p>Add Room </p></a></li>
    <li><a href="{% url 'addMeetingTime' %}"><p>Add Meeting time</p></a></li>
    <li><a href="{% url 'addCourse' %}"><p>Add Course</p></a></li>
    <li><a href="{% url 'addDepartment' %}"><p>Add department</p></a></li>
    <li><a href="{% url 'addSection' %}"><p>Add Section</p></a></li>
  </ul>
</span>
{% for section in sections %}
<h2>{{ section.sectionID }} ({{ section.department }})</h2>
    <table>
      <!-- <colgroup>
        <col >
        <col >
        <col>
        <col>
        <col >
        <col>
      </colgroup> -->
      <tr>
        <th>Class #</th>
        <th>Course</th>
        <th>Venue(Block- Room)</th>
        <th>Instructor</th>
        <th>Class Timing</th>
      </tr>
      {% for class in schedule %}
        {% if class.section == section.sectionID %}
        <tr>
          <th>{{class.sectionID}}</th>
          <td>{{class.course}}</td>
          <td>{{class.room}}</td>
          <td>{{class.instructor}}</td>
          <td>{{class.meetingTime}}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </table>

{% endfor %}
{% endblock %}